/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/*color roots*/
:root {
  --green-color: #159572;
  --light-green-color: #95d8d6;
  --gray-color: #f8f8f8;
  --text-color: #000000;
  --bg-color: #ffffff;
  --card-color: #bbb;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

section {
  padding: 0rem 2rem;
}

#section1 {
  padding: 0rem 2rem;
}

#section3 {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  margin-bottom: 30px;
}

/* Your existing styles */

/* Add a media query for screens with a maximum width of 768px (adjust as needed) */
@media only screen and (max-width: 768px) {
  .header {
    padding: 0px 20px; /* Adjust padding for smaller screens */
  }

  .logo {
    width: 15%; /* Adjust logo size for smaller screens */
  }

  .navbar {
    flex-direction: column; /* Stack the navigation links vertically */
    align-items: flex-end; /* Align the links to the right */
    position: absolute;
    top: 80px; /* Adjust the distance from the top */
    left: 0;
    width: 100%;
    background: white; /* Background color for the mobile menu */
    display: none; /* Hide the navigation links by default */
  }

  .navbar a {
    padding: 15px; /* Adjust padding for the mobile menu */
    text-align: center; /* Center the text in the mobile menu */
    width: 100%; /* Make the links full width in the mobile menu */
  }

 

  .topnav .icon {
    display: block; /* Display the navigation icon for smaller screens */
    cursor: pointer;
  }

  .navbar.active {
    display: flex; /* Display the navigation links when the mobile menu is active */
  }
}

/*Nav*/
.header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 8px 11px rgba(14, 55, 54, 0.15);
  padding: 0px 90px;
  transition: 0.5s;
}

.logo-container {
  display: flex;
  align-items: center;
  column-gap: 0.9rem;
}

.logo {
  width: 8%;
  column-gap: 0.9rem;
}

.logo {
  width: 100px;
}

.logo_name {
  font-size: 14px;
  margin-left: 10px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.3rem; /* Make the text within the strong element bold */
}

.smaller-text {
  font-size: smaller; /* Set a smaller font size for the specific part of the text */
}

.navbar {
  /* position: relative; */
  display: flex;
  column-gap: 0.5rem;
  /* padding: 0px 50px; */
}

.navbar a {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: background 0.1s, color 0.1s;
  border-radius: 5rem;
  text-decoration: none;
}

 

.navbar a:hover,
.navbar .home-active {
  background: var(--green-color);
  color: var(--bg-color);
  border-radius: 5rem;
  transition: background 0.5s;
}

.navbar.scrolled {
  background-color: #333;
  color: #fff;
}

.topnav .icon {
  display: none;
}

.btn {
  height: 40px;
  width: 100px;
  background: #56ab91;
  border: 0;
  border-radius: 5px; /* Adjust this value for a more square look */
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1;
  text-decoration: none;
}


.btn:hover {
  opacity: 0.65; 
}

body {
  color: var(--text-color);
  background-color: #e0e2e1;
}

/*big image note: need to change to sliders*/

#section1 img {
  max-width: 100%;
  height: auto;
  margin-top: 3em;
  margin-bottom: 1em;
  background-color: #fff;
}

/*news box*/

.slider {
  width: 100%;
  max-width: 1300px; /* Adjust the maximum width as needed */
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc; /* Border color and size */
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.225); /* Add a shadow for a box-like effect */
  border-radius: 10px; /* Adjust the border-radius as needed */
}

.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: left 1s; /* Only transition the left property */
}

.slider .list-inner {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  position: absolute;
  width: max-content;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: left 1s; /* Only transition the left property */
}

.slider .list .item {
  margin-right: 50px; /* Adjust the spacing between cards if needed */
  position: center;
}

.slider .list .item .slide {
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Adjust the border-radius as needed */
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a card-like effect */
}

.slider .list .item .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Match the border-radius of the card */
}

.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 183, 134, 0.577);
  color: #ffffff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #048a60;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.slider .dots li.active {
  width: 30px;
}

.item img {
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
  }
}

/*clubs card*/

.custom-heading {
  text-align: center;
  font-size: 36px;
  font-family: sans-serif; /* Specify your desired font */

  margin-top: 1em;
}

.sub-heading {
  margin-top: 2em;
  margin-bottom: 6em;
  text-align: center;
}

.Clubs_info {
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 20em;
  height: 100%;
  background-color: rgb(214 214 214 / 92%);
  border-radius: 0em;
  display: flex;
  align-items: flex-start; /* Align items to the start (left) */
  flex-direction: column;
  margin-right: 2em;
}
.card__image {
  width: 20em;
  height: 20em;
  border-radius: 0%;
  padding: 5px;
  margin-bottom: 1em;
}

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 0%;
}

.card__content {
  width: 100%; /* Ensure content takes full width of the card */
  padding: 0em; /* Add padding for better readability */
}

.club__title {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: 0.2em;
  margin-left: 1em;
  color: rgba(0, 0, 0, 0.5);
}

.club__name {
  color: rgb(0, 0, 0);
  margin-left: 1em;
  font-weight: 600;
}

.card__text {
  font-size: 0.8rem;
  margin: 1em 1em;
}
#more {
  display: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  font-weight: bold;
}

/*Footer note: needs to be changed*/

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content h3 {
  font-size: 24px;
}

.footer-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-icons i {
  font-size: 24px;
  margin: 0 10px;
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
}

.footer-bottom span {
  color: #f8d615; /* Color for the designer's names */
}
