@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --box-color: #d6d6d6;
  --header-color: #383838;
  --background-color: #f3f3f3;
  --buttons: #03b199;
  --wb-color: #05b2a7;
  --white-color: #fff;
  --primary-clr: #56ab91;
  --green-color: #159572;
  --light-green-color: #95d8d6;
  --gray-color: #f8f8f8;
  --text-color: #000000;
  --bg-color: #ffffff;
  --card-color: #bbb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--green-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: var(--green-color);
}

.logo_name {
  font-size: 14px;
  margin-left: 10px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.1rem;
}

.smaller-text {
  font-size: 12px;
}


@media only screen and (max-width: 768px) {
  .header {
    padding: 0px 20px; /* Adjust padding for smaller screens */
  }

  .logo {
    width: 15%; /* Adjust logo size for smaller screens */
  }

  .navbar {
    flex-direction: column; /* Stack the navigation links vertically */
    align-items: flex-end; /* Align the links to the right */
    position: absolute;
    top: 80px; /* Adjust the distance from the top */
    left: 0;
    width: 100%;
    background: white; /* Background color for the mobile menu */
    display: none; /* Hide the navigation links by default */
  }

  .navbar a {
    padding: 15px; /* Adjust padding for the mobile menu */
    text-align: center; /* Center the text in the mobile menu */
    width: 100%; /* Make the links full width in the mobile menu */
  }

  .topnav .icon {
    display: block; /* Display the navigation icon for smaller screens */
    cursor: pointer;
  }

  .navbar.active {
    display: flex; /* Display the navigation links when the mobile menu is active */
  }
}

/*Nav*/
.header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 8px 11px rgba(14, 55, 54, 0.15);
  padding: 0px 90px;
  transition: 0.5s;
}

.logo-container {
  display: flex;
  align-items: center;
  column-gap: 0.9rem;
}

.logo {
  width: 8%;
  column-gap: 0.9rem;
  width: 100px;
}



.logo_name {
  font-size: 14px;
  margin-left: 10px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.3rem; /* Make the text within the strong element bold */
}

.smaller-text {
  font-size: smaller; /* Set a smaller font size for the specific part of the text */
}

.navbar {
  display: flex;
  column-gap: 0.5rem;
}

.navbar a {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: background 0.1s, color 0.1s;
  border-radius: 5rem;
  text-decoration: none;
  
}

.navbar a:hover,
.navbar .calendar-active {
  background: #078c7c;
  color: var(--bg-color);
  border-radius: 5rem;
  transition: background 0.5s;
  text-decoration: none;
}

.navbar.scrolled {
  background-color: #333;
  color: #fff;
}

.topnav .icon {
  display: none;
}

.btn {
  height: 40px;
  width: 100px;
  background: #56ab91;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.65; 
}


.user-profile {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 100px;
  /* margin-right: 50px; */
}

.user-profile img {
  border-radius: 50%; /* Make the image circular */
  border: 2px solid #159572;
  width: 40px; /* Set the width of the circular image */
  height: 40px; /* Set the height of the circular image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  margin-right: 8px;
}

.user-profile .username{
  font-weight: 600;
}

.logout-icon a {
  color: #1d1b1b;  /* Set the desired color */
  /* Adjust the margin as needed */
  /* margin-bottom: 5px; */
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s; /* Add a smooth color transition */
  display: inline-block;
  transform: rotate(180deg);
  font-weight: 600;
  
}

.logout-icon a:hover{
  color: red;
  background-color: transparent;

}



#calendar {
  margin-top: 80px;
  max-width: 1500px;
  background-color: white;
}

input {
  display: none;
}

.fc-content {
  color: #fff ;
}

#butnClose {
  color: crimson;
  padding: 5px;
  background: #8888;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 600;
}
#butnClose:hover {
  cursor: pointer;
  background-color: #333;
}

.circu {
  padding: 25px;
  background: #ccc;
  border-radius: 50px;
}

#radioGroup label:hover {
  cursor: pointer;
}

#radioGroup input[type="radio"]:checked + label {
  border: 3px solid #ccc !important; 
}

.activated input[type="radio"]:checked + label {
  border: 3px solid #555 !important; 
}

.alert {
  /* position: fixed; */
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
