/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/*color roots*/
:root {
  --green-color: #159572;
  --light-green-color: #95d8d6;
  --gray-color: #f8f8f8;
  --text-color: #000000;
  --bg-color: #ffffff;
  --card-color: #bbb;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

section {
  padding: 0rem 2rem;
}

#section1 {
  padding: 0rem 2rem;
}




/* Add a media query for screens with a maximum width of 768px (adjust as needed) */
@media only screen and (max-width: 768px) {
  .header {
    padding: 0px 20px; /* Adjust padding for smaller screens */
  }

  .logo {
    width: 15%; /* Adjust logo size for smaller screens */
  }

  .navbar {
    flex-direction: column; /* Stack the navigation links vertically */
    align-items: flex-end; /* Align the links to the right */
    position: absolute;
    top: 80px; /* Adjust the distance from the top */
    left: 0;
    width: 100%;
    background: white; /* Background color for the mobile menu */
    display: none; /* Hide the navigation links by default */
  }

  .navbar a {
    padding: 15px; /* Adjust padding for the mobile menu */
    text-align: center; /* Center the text in the mobile menu */
    width: 100%; /* Make the links full width in the mobile menu */
  }

 

  .topnav .icon {
    display: block; /* Display the navigation icon for smaller screens */
    cursor: pointer;
  }

  .navbar.active {
    display: flex; /* Display the navigation links when the mobile menu is active */
  }
}

/*Nav*/
.header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 8px 11px rgba(14, 55, 54, 0.15);
  padding: 0px 90px;
  transition: 0.5s;
}

.logo-container {
  display: flex;
  align-items: center;
  column-gap: 0.9rem;
}

.logo {
  width: 8%;
  column-gap: 0.9rem;
}

.logo {
  width: 100px;
}

.logo_name {
  font-size: 14px;
  margin-left: 10px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.3rem; /* Make the text within the strong element bold */
}

.smaller-text {
  font-size: smaller; /* Set a smaller font size for the specific part of the text */
}

.navbar {
  /* position: relative; */
  display: flex;
  column-gap: 0.5rem;
/* padding: 0px 50px; */
}

.navbar a {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: background 0.1s, color 0.1s;
  border-radius: 5rem;
  text-decoration: none;
}

 

.navbar a:hover,
.navbar .home-active {
  background: var(--green-color);
  color: var(--bg-color);
  border-radius: 5rem;
  transition: background 0.5s;
}

.navbar.scrolled {
  background-color: #333;
  color: #fff;
}

.topnav .icon {
  display: none;
}
/* Add this CSS in your stylesheet or in a <style> tag in your HTML file */
.user-profile {
  /* height: 100px; */
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 80px;
   /* background-color: #3498db;   */
  /* margin-left: 20px; */
  /* padding: 0px 50px 0px 20px;  */
  /* border-radius: 8px;  */
}


.user-profile img {
  border-radius: 50%; /* Make the image circular */
  border: 2px solid #159572;
  width: 40px; /* Set the width of the circular image */
  height: 40px; /* Set the height of the circular image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  margin-right: 8px; 
}

/* popup.css */

/* #popup-container {
  display: none;
  position: absolute;
} */

/* Add the following styles to your external CSS file */

/* #popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(175%, -120%);
  max-width: 250px; 
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
} */

/* .popup-content {
  position: relative;
} */

/* 
#popup-iframe {
  width: 100%;
  height: 100%;
  border: none;
} */

.logout-icon a {
  color: #1d1b1b; /* Set the desired color */
  margin-left: 20px; /* Adjust the margin as needed */
  margin-bottom: 120px;
  text-decoration: none;
  font-size: 24px; /* Set the font size */
  transition: color 0.3s; /* Add a smooth color transition */
}

.logout-icon a:hover {
  color: #ff0000 !important; /* Change color on hover */
  background-color: transparent !important; /* Remove background color on hover */
}





body {
  color: var(--text-color);
  background-color: #e0e2e1;
}

/*big image note: need to change to sliders*/

#section1 img {
  max-width: 100%;
  height: auto;
  margin-top: 3em;
  margin-bottom: 1em;
  background-color: #fff;
}

