@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/********************************ABOUT SECTION*******************************************/

.about {
  background: #56ab91;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.about-box {
  background: white;
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 0px 10px;
  padding: 25px 25px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 00, 0.5);
}

.about-box h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/****************************************************TEAM SECTION*****************************************/
#team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.team-heading h3 {
  color:#56ab91;
  font-size: 2rem;
  text-transform: uppercase;
}

.team-box {
  width: 100%;

  padding: 20px;
  user-select: none;
}

.image1 {
  width: 100%;
  height: 350px;
  position: relative;
}

.image1::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 150px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0) 100%);
}

.image1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  /* filter: grayscale(); */
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text strong {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

.text span {
  color:#56ab91;
  font-size: 0.9rem;
}

.swiper {
  max-width: 745px;
  width: 100%;
  padding-bottom: 50px;
}
.swiper-slider {
  width: 300px !important;
  opacity: 0.2;
  margin: 50px 0px;
  margin-top: 0px;
}

.swiper-slider-active {
  opacity: 1;
  border: 10px solid #56ab91;
}



/********************************HELP SECTION*******************************************/

.container {
  background:#56ab91;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 00, 0.5);
}

.form-box {
  width: 450px;
  margin: 0px 10px;
}

.form-box header {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.form-box header2 {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[name="message"] {
  height: 100px;
  padding-bottom: 75px;
  text-align: left;
}

input[name="message"]::placeholder {
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 10px;
}

.btn {
  height: 35px;
  background: #56ab91;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  padding: 0px 10px;
}

.btn:hover {
  opacity: 0.82;
}



