@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/*color roots*/
:root {
  --box-color: #d6d6d6;
  --header-color: #383838;
  --background-color: #f3f3f3;
  --buttons: #03b199;
  --wb-color: #05b2a7;
  --white-color: #fff;
  --primary-clr: #56ab91;
  --green-color: #159572;
  --light-green-color: #95d8d6;
  --gray-color: #f8f8f8;
  --text-color: #000000;
  --bg-color: #ffffff;
  --card-color: #bbb;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background: #56ab91;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: var(--green-color);
}

.logo_name {
  font-size: 14px;
  margin-left: 10px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.1rem;
}

.smaller-text {
  font-size: 12px;
}

/********************************ABOUT US*******************************************/
@media only screen and (max-width: 768px) {
  .header {
    padding: 0px 20px; /* Adjust padding for smaller screens */
  }

  .logo {
    width: 15%; /* Adjust logo size for smaller screens */
  }

  .navbar {
    flex-direction: column; /* Stack the navigation links vertically */
    align-items: flex-end; /* Align the links to the right */
    position: absolute;
    top: 80px; /* Adjust the distance from the top */
    left: 0;
    width: 100%;
    background: white; /* Background color for the mobile menu */
    display: none; /* Hide the navigation links by default */
  }

  .navbar a {
    padding: 15px; /* Adjust padding for the mobile menu */
    text-align: center; /* Center the text in the mobile menu */
    width: 100%; /* Make the links full width in the mobile menu */
  }

  .topnav .icon {
    display: block; /* Display the navigation icon for smaller screens */
    cursor: pointer;
  }

  .navbar .active {
    display: flex; /* Display the navigation links when the mobile menu is active */
  }
}

/*Nav*/
.header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 8px 11px rgba(14, 55, 54, 0.15);
  padding: 0px 90px;
  transition: 0.5s;
}

.logo-container {
  display: flex;
  align-items: center;
  column-gap: 0.9rem;
}

.logo {
  width: 8%;
  column-gap: 0.9rem;
  width: 100px;
}

.logo_name {
  font-size: 14px;
  margin-left: 10px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.3rem; /* Make the text within the strong element bold */
}

.smaller-text {
  font-size: smaller; /* Set a smaller font size for the specific part of the text */
}

.navbar {
  display: flex;
  column-gap: 0.5rem;
}

.navbar a {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: background 0.1s, color 0.1s;
  border-radius: 5rem;
  text-decoration: none;
}

.navbar a:hover,
.navbar .contact-active {
  background: #078c7c;
  color: var(--bg-color);
  border-radius: 5rem;
  transition: background 0.5s;
  text-decoration: none;
}

.navbar.scrolled {
  background-color: #333;
  color: #fff;
}

.topnav .icon {
  display: none;
}

.btn {
  height: 40px;
  width: 100px;
  background: #56ab91;
  border: 0;
  border-radius: 5px; /* Adjust this value for a more square look */
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.65;
}

.user-profile {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 100px;
  /* margin-right: 50px;  */
}

.user-profile img {
  border-radius: 50%; /* Make the image circular */
  border: 2px solid #159572;
  width: 40px; /* Set the width of the circular image */
  height: 40px; /* Set the height of the circular image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  margin-right: 8px;
}

.user-profile .username{
  font-weight: 600;
}

.logout-icon a {
  color: #1d1b1b;  /* Set the desired color */
  /* Adjust the margin as needed */
  /* margin-bottom: 5px; */
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s; /* Add a smooth color transition */
  display: inline-block;
  transform: rotate(180deg);
  font-weight: 600;
  
}

.logout-icon a:hover{
  color: red;
  background-color: transparent;

}


.contact-form-container {
  margin-top: 50rem;
  max-width: 600px; /* Adjust the maximum width */
  margin: 50px auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding for better visual appearance */
}


.contact-form-container form {
  width: 100%; /* Set the form width to 100% */
  max-width: 500px; /* Adjust the maximum width of the form */
  margin-top: 80px; /* Center the form horizontally */
  border-radius: 0.5rem;
  background-color: white;
  padding: 2rem;
  text-align: center;
}


.contact-form-container form h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--black);
}

.contact-form-container form .guidance {
  color: rgb(87, 85, 85);
  font-size: 0.8rem;
  font-weight: 600;
}

.contact-form-container form .box {
  width: 49%;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--black);
  outline: none;
  border: 1px solid #ccc;
  /* background-color: transparent; */
  /* margin: 1rem 0; */
  margin-top: 15px;
}
.contact-form-container form .paragraph {
  width: 100%;
  height: 120px;
  border-radius: 0.5rem;
  padding-left: 18px;
  padding-bottom: 80px;
  font-size: 1rem;
  color: var(--black);
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 15px;
}

.submit-btn {
  display: block;
  width: 100%; /* Set your desired width here */
  background-color: #56ab91;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem 3rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}


.submit-btn:hover {
  color: var(--black);
}

/********************************FOOTER*******************************************/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: auto;
  background-color: var(--header-color);
  padding: 60px 10%;
  padding-right: 10px;
  text-align: center; /* Center text within the footer */
}

.footer-col {
  width: 30%;
  margin-bottom: 30px;
}

.footer-col h4 {
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  color: #078c7c;
  text-transform: capitalize;
}

.footer-col li {
  color: #ccc;
}
.footer-col li a {
  color: #ccc;
}

.footer-col li a:hover {
  color: #938787;
}

.footer-col h4::before {
  all: unset;
}

.footer-col .footer-icons a {
  color: #ccc;
  margin-right: 10px;
  transition: color 0.3s;
}

.footer-icons a:hover {
  color: #078c7c; /* Change color on hover */
}

.footer_span {
  font-size: 10px;
  color: grey;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-copyright {
  font-size: 12px;
  color: #909090;
  margin: 0;
}

@media (max-width: 740px) {
  .footer-col {
    width: 50%;
  }
}

@media (max-width: 555px) {
  .footer-col {
    width: 100%;
  }
}

