@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --box-color:#D6D6D6;
  --header-color:#383838;
  --background-color:#F3F3F3;
  --buttons:#03B199;
  --wb-color:#05B2A7;
  --white-color: #fff;
  --green-color: #159572;
  --light-green-color: #95d8d6;
  --gray-color: #f8f8f8;
  --text-color: #000000;
  --bg-color: #ffffff;
  --card-color: #bbb;
}

/********************************BODY*******************************************/

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  color: var(--text-color);
  background:#d4d4d4;
  
}

li{
list-style: none;
}

a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover{
 color: var(--green-color);

}

.logo_name {
  font-size: 14px; 
  margin-left: 10px; 
}

.bold-text {
  font-weight: bold; 
  font-size: 1.1rem;
}

.smaller-text {
  font-size: 12px; 
}

/********************************NAVBAR AND HEADER*******************************************/

@media only screen and (max-width: 768px) {
  .header {
    padding: 0px 20px; 
  }

  .logo {
    width: 15%; 
  }

  .navbar {
    flex-direction: column; 
    align-items: flex-end; 
    position: absolute;
    top: 80px; 
    left: 0;
    width: 100%;
    background: white; 
    display: none; 
  }

  .navbar a {
    padding: 15px; 
    text-align: center; 
    width: 100%; 
  }

  .topnav .icon {
    display: block;
    cursor: pointer;
  }

  .navbar.active {
    display: flex; 
  }
}

.header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0 8px 11px rgba(14, 55, 54, 0.15);
  padding: 0px 90px;
  transition: 0.5s;
}

.logo-container {
  display: flex;
  align-items: center;
  column-gap: 0.9rem;
}

.logo {
  width: 8%;
  column-gap: 0.9rem;
}

.logo {
  width: 100px;
}

.logo_name {
  font-size: 14px;
  margin-left: 10px;
}

.bold-text {
  font-weight: bold;
  font-size: 1.3rem; 
}

.smaller-text {
  font-size: smaller; 
}

.navbar {
  display: flex;
  column-gap: 0.5rem;
}

.navbar {
  display: flex;
  column-gap: 0.5rem;
}

.navbar a {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: background 0.1s, color 0.1s;
  border-radius: 5rem;
  text-decoration: none;
}

.navbar a:hover,
.navbar .home-active {
  background: #078c7c;
  color: var(--bg-color);
  border-radius: 5rem;
  transition: background 0.5s;
}

.navbar.scrolled {
  background-color: #333;
  color: #fff;
}

.topnav .icon {
  display: none;
}

.btn {
  height: 40px;
  width: 100px;
  background: #56ab91;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.65; 
}

.user-profile {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.user-profile img {
  border-radius: 50%; 
  border: 2px solid #159572;
  width: 40px;
  height: 40px; 
  object-fit: cover; 
  margin-right: 8px;
}

.user-profile .username{
  font-weight: 600;
}

.logout-icon a {
  color: #1d1b1b; 
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s; 
  display: inline-block;
  transform: rotate(180deg);
  font-weight: 600; 
}

.logout-icon a:hover{
  color: red;
  background-color: transparent;
}

/********************************HEADINGS*******************************************/

.custom-heading {
  background-color: #229691;
  color: #fff; 
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.custom-heading:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.sub-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.border{
  width: 160px;
  height: 5px;
  background: #03B199;
  margin: 24px auto;
}


/********************************IMAGE HEADER*******************************************/

.section_header {
  padding: 80px 15%;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/Calventer_header.png);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-end;
}


.home-text {
  margin-bottom: 50px; 
}

.home-text header_img{
  display: flex;
  align-items: center;
  column-gap: none;
  margin-right: 60px;
  height: 10px;

}

.header_img img{
  width: 170px;
  margin-left: 140px;
}

.home-text h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  color: var(--background-color);
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  margin-left: 60px;
}

.home-text p {
  color: var(--background-color);
  font-size: 23px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  margin-left: 5px;
}

.home-btn {
  margin-top: 10px; 
  display: inline-block;
  font-size: 16px;
  padding: 12px 15px;
  background:rgba(255, 255, 255, 0.562);
  color: var(--header-color);
  border-radius: 51px;
  transition: ease .40s;
  margin-left: 139px;

}

.home-btn:hover{
  background: var(--box-color);
  transform: scale(1.1);
}

.slider{
  width: 1300px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
  top: -61px; 
}
.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 5s; 
}
.slider .list img{
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slider .buttons{
  position: absolute;
  top: 89%;
  left: 40%;
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active{
  width: 30px;
}
@media screen and (max-width: 790px){
  .slider{
      height: 400px;
  }
}

/********************************NEWS SLIDER*******************************************/


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  
}


.innercontainer{
  border: 4px solid #000505ac;
  background-color: #ffffff;
  border-radius: 10px;
  width: 650px; 
  height: 409px; 
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.234);
  margin: auto; 
}


.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 400px;
  width: 540px; 
  background: #fafafa;
  border-radius: 12px;
  padding: 10px; 
  overflow-y: auto;
  border: 1px solid #ffffffd5;
}

.container .card {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  padding: 10px; 
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .image {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image img {
  height: 100%; 
  width: 100%; 
  border-radius: 12px;
  object-fit: cover;
}

.card h2 {
  margin-top: 15px;
  color: #333;
  font-size: 18px; 
  font-weight: 600;
}

.card p {
  margin-top: 8px;
  font-size: 14px; 
  font-weight: 400;
  color: #555;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .innercontainer {
    width: 100%; 
  }

  .container {
    width: 100%; 
  }
}


/********************************CLUBS*******************************************/



.Section_header{
  padding: 40px 0; 
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}

.inner{
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}



.club {
  font-size: 13px;
  padding-left:  30px;
  padding-right:  30px;
  text-align:left;
}


.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.IIUM_clubs {
  background: #fff;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%; 
}

.IIUM_clubs img {
  height: 150px;
  width: 150px;
  padding: 4px;
  background: #639194;
  border-radius: 50%;
}


.club_code1 {
  margin-top: 0px;
  text-align: center;
  background-color:#0A2472; 
  padding: 10px; 
  border-radius: 1px; 

}
.club_code2 {
  margin-top: 0px;
  text-align: center;
  background-color:#2196F3; 
  padding: 10px; 
  border-radius: 1px; 

}
.club_code3 {
  margin-top: 0px;
  text-align: center;
  background-color:#FFAC1C; 
  padding: 10px; 
  border-radius: 1px;
}


.name{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0;
}

.club-icons a {
  margin-right: 10px; 
  transition: color 0.3s; 
}

.club-icons a:hover {
  color: #27c0ac; 
}



@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}



.club__title{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: 1.1em;
  margin: 0 auto; 
  color: rgba(0, 0, 0, 0.5);

}

 /********************************FOOTER*******************************************/

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  margin-top: auto;
  background-color: var(--header-color);
  padding: 60px 10%;
  padding-right: 10px;
  text-align: center; 

}

.footer-col{
  width: 30%;
  margin-bottom: 30px;
}

.footer-col h4{
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  color: #078c7c;
  text-transform: capitalize;
}

.footer-col li{
  color: #ccc;
  
}
.footer-col li a{
  color: #ccc;

}

.footer-col li a:hover{
  color: #938787;

}

.footer-col h4::before{
  all: unset;
}

.footer-col .footer-icons a{
  color: #ccc;
  margin-right: 10px; 
  transition: color 0.3s; 
  
}

.footer-icons a:hover {
  color: #078c7c; 
}

.footer_span {
  font-size: 10px;
  color: grey;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-copyright {
  font-size: 12px;
  color: #909090;
  margin: 0;
}

@media(max-width: 740px) {
  .footer-col {
    width: 50%;
  }
}

@media(max-width: 555px) {
  .footer-col {
    width: 100%;
  }
}