/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --green-color: #159572;
  --light-green-color: #95d8d6;
  --gray-color: #f8f8f8;
  --text-color: #000000;
  --bg-color: #ffffff;
}

section {
  padding: 0rem 1.5rem;
}

#section3 {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  margin-bottom: 30px;
}

body {
  color: var(--text-color);
  background-color: #e0e2e1;
}

/*Nav*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  box-shadow: 0 8px 11px rgba(14, 55, 54, 0.15);
  padding: 0px 90px;
  transition: 0.5s;
}

.logo-container {
  display: flex;
  align-items: center;
  column-gap: 0.9rem;
}

.logo {
  width: 8%;
  column-gap: 0.9rem;
}

.logo {
  width: 100px;
}

.logo_name {
  font-size: 14px;
  margin-left: 10px;
}

.navbar {
  display: flex;
  column-gap: 0.5rem;
}

.navbar a {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: background 0.1s, color 0.1s;
  border-radius: 5rem;
}

.navbar a:hover,
.navbar .home-active {
  background: var(--green-color);
  color: var(--bg-color);
  border-radius: 5rem;
  transition: background 0.5s;
}

.navbar.scrolled {
  background-color: #333; /* Change to the desired background color on scroll */
  color: #fff; /* Change text color to be visible on the new background color */
}

/*needs to be responsive*/
.profile {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.profile img {
  width: 80px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profile span {
  font-size: 13px;
  font-weight: 500;
}

/*big image note: need to change to sliders*/

img {
  max-width: 100%;
  height: auto;
}

.announcement-box {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.announcement-content {
  animation: move-announcement 10s linear infinite;
}

@keyframes move-announcement {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*clubs card slider*/

.custom-heading {
  text-align: center;
  font-size: 36px;
  font-family: sans-serif; /* Specify your desired font */
  margin-bottom: 2em;
  margin-top: 1em;
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 20em;
  height: 90%;
  background-color: #bbb;
  border-radius: 1em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 2em;
}
.card__image {
  width: 15em;
  height: 15em;
  border-radius: 2%;

  padding: 1px;
  margin-bottom: 2em;
}

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 0.2em;
}

.card__name {
  color: blue;
}

.card__text {
  text-align: center;
  font-size: 0.8rem;
  margin: 1em 0;
}

.card__btn {
  background-color: var(--green-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 0.5em;
  border-radius: 50%;
  margin-top: 0.5em;
  cursor: pointer;
  color: #e0e2e1;
}

/*Footer note: needs to be changed*/

.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
